<div>
    <header id="head">
        <div class="hea-left">
            <span>西安</span>
            <i class="iconfont icon-daosanjiao"></i>
        </div>
        <div class="hea-right">
            <i class="iconfont icon-sousuo"></i>
            <input type="text" placeholder="找影视剧、影人、影院" />
        </div>
    </header>
    <section id="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/banner1.png"/></div>
                <div class="swiper-slide"><img src="img/banner2.png"/></div>
                <div class="swiper-slide"><img src="img/banner3.png"/></div>
                <div class="swiper-slide"><img src="img/banner4.png"/></div>
                <div class="swiper-slide"><img src="img/banner5.png"/></div>
                <div class="swiper-slide"><img src="img/banner6.png"/></div>
                <div class="swiper-slide"><img src="img/banner7.png"/></div>
                <div class="swiper-slide"><img src="img/banner8.png"/></div>
            </div>
        </div>
    </section>
    <section id="reying">
        <div class="box1">
            <span>正在热映</span>
            <b>全部(41)></b>
        </div>
        <div class="box2">
            <div class="box2-min">
                <dl>
                    <dt>
                        <img src="img/img1.png" />
                    </dt>
                    <dd>
                        <b>悟空传</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img2.png" />
                    </dt>
                    <dd>
                        <b>绣春刀·修罗战场</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img3.png" />
                    </dt>
                    <dd>
                        <b>神偷奶爸3</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img4.png" />
                    </dt>
                    <dd>
                        <b>深夜食堂2</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img5.png" />
                    </dt>
                    <dd>
                        <b>父子雄兵</b>
                        <em class="yushou">预售</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img6.png" />
                    </dt>
                    <dd>
                        <b>大护法</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img7.png" />
                    </dt>
                    <dd>
                        <b>三生三世十里桃花</b>
                        <em class="yushou">预售</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img8.png" />
                    </dt>
                    <dd>
                        <b>喵星人</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img9.png" />
                    </dt>
                    <dd>
                        <b>建军大业</b>
                        <em class="yushou">预售</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img10.png" />
                    </dt>
                    <dd>
                        <b>闪光少女</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img11.png" />
                    </dt>
                    <dd>
                        <b>京城81号Ⅱ</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/img12.png" />
                    </dt>
                    <dd>
                        <b>变形金刚5·最后的骑士</b>
                        <em class="buy">购票</em>
                    </dd>
                </dl>
            </div>

        </div>
    </section>
    <section id="shangying">
        <div class="box1">
            <span>即将上映</span>
            <b>全部(84)></b>
        </div>
        <div class="box2">
            <div class="box2-min">
                <dl>
                    <dt>
                        <img src="img/a1.png" />
                    </dt>
                    <dd>
                        <b>三生三世十里桃花</b>
                        <em>8月3日</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a2.png" />
                    </dt>
                    <dd>
                        <b>战狼2</b>
                        <em>7月28日</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a3.png" />
                    </dt>
                    <dd>
                        <b>蜘蛛侠·英雄归来</b>
                        <em>8月待定</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a4.png" />
                    </dt>
                    <dd>
                        <b>猩球崛起3·终极之战</b>
                        <em>8月待定</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a5.png" />
                    </dt>
                    <dd>
                        <b>星际特工：千星之城</b>
                        <em>8月待定</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a6.png" />
                    </dt>
                    <dd>
                        <b>鲛珠传</b>
                        <em>8月11日</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a7.png" />
                    </dt>
                    <dd>
                        <b>心理罪</b>
                        <em>8月11日</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a8.png" />
                    </dt>
                    <dd>
                        <b>建军大业</b>
                        <em>7月28日</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a9.png" />
                    </dt>
                    <dd>
                        <b>郭刻尔克</b>
                        <em>9月1日</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a10.png" />
                    </dt>
                    <dd>
                        <b>银魂 真人版</b>
                        <em>8月待定</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a11.png" />
                    </dt>
                    <dd>
                        <b>侠盗联盟</b>
                        <em>8月11日</em>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="img/a12.png" />
                    </dt>
                    <dd>
                        <b>心理罪之城</b>
                        <em>9月30日</em>
                    </dd>
                </dl>
            </div>

        </div>
    </section>
    <section id="banner1">
        <img src="img/b1.png" />
    </section>
    <section id="zixun">
        <div class="box1">
            <p>《猩球崛起3》获赞系列最出色，外媒“奥斯卡欠安迪一座小金人”</p>
            <ul>
                <li><img src="img/b2.png"/></li>
                <li><img src="img/b3.png"/></li>
                <li><img src="img/b4.png"/></li>
            </ul>
            <div class="box1-bot">
                <div class="box1-bot-left">
                    <span>猫眼资讯</span>
                    <b>15小时前</b>
                </div>
                <div class="box1-bot-right">
                    <i class="iconfont icon-liulanliang"></i><span id="liulan">3</span>
                    <i class="iconfont icon-pl"></i><span id="pinglun">0</span>
                </div>
            </div>
        </div>
        <div class="box1">
            <p>《侠盗联盟》爆“争锋”版单人海报，“潮盗”三人组出击显锋芒</p>
            <ul>
                <li><img src="img/b5.png"/></li>
                <li><img src="img/b6.png"/></li>
                <li><img src="img/b7.png"/></li>
            </ul>
            <div class="box1-bot">
                <div class="box1-bot-left">
                    <span>猫眼资讯</span>
                    <b>1小时前</b>
                </div>
                <div class="box1-bot-right">
                    <i class="iconfont icon-liulanliang"></i><span id="liulan">1400</span>
                    <i class="iconfont icon-pl"></i><span id="pinglun">4</span>
                </div>
            </div>
        </div>
        <div class="box1">
            <p>《猩球崛起3》获赞系列最出色，外媒“奥斯卡欠安迪一座小金人”</p>
            <ul>
                <li><img src="img/b2.png"/></li>
                <li><img src="img/b3.png"/></li>
                <li><img src="img/b4.png"/></li>
            </ul>
            <div class="box1-bot">
                <div class="box1-bot-left">
                    <span>猫眼资讯</span>
                    <b>15小时前</b>
                </div>
                <div class="box1-bot-right">
                    <i class="iconfont icon-liulanliang"></i><span id="liulan">3</span>
                    <i class="iconfont icon-pl"></i><span id="pinglun">0</span>
                </div>
            </div>
        </div>

    </section>
</div>