<footer>
    <ul>
        <li id="shouye">
            <a href="#!/main">
                <i class="iconfont icon-shouye"></i>
                <span>首页</span>
            </a>
        </li>
        <li id="dianying">
            <a href="#!/movie">
                <i class="iconfont icon-dianying"></i>
                <span>电影</span>
            </a>

        </li>
        <li>
            <a href="yingyuan.html">
                <i class="iconfont icon-yingyuanb"></i>
                <span>影院</span>
            </a>

        </li>
        <li>
            <a href="my.html">
                <i class="iconfont icon-wode"></i>
                <span>我的</span>
            </a>

        </li>
    </ul>
</footer>